﻿.grayscale img {
	-webkit-filter: grayscale(100%); /* Webkit Nightlies & Google Chrome Canary */
	-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
	-webkit-backface-visibility: hidden; /* Fix for transition flickering */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE8-9 */
}
.grayscale img:hover {
	filter: none; /* Applies to FF + IE */
	-webkit-filter: grayscale(0);
}
.edge .grayscale img{   /* Applies to Microsoft Edge */
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: none;
}
.edge .grayscale img:hover{   /* Applies to Microsoft Edge */
	-webkit-filter: grayscale(0%);
}